.chat-window {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tag-space {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .ant-tag {
    margin-top: 8px;
    cursor: pointer;
    display: block;
  }

  .submit-tags {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
  }
}

.concern-chat-popover .ant-popover-content {
  margin-right: 24px;
}
