.date-space {
  width: 100%;

  .go-back-link {
    margin-top: 8px;
    cursor: pointer;
    text-decoration: underline;
    width: 70px;
    margin-bottom: 20px;
  }

  .divider {
    background-color: #ebebeb;
    height: 1px;
  }

  .tag-info-container {
    max-height: 130px;
    overflow-y: auto;
  }

  .custom-calendar {
    margin-top: 12px;
  }

  .calendar-info-container {
    margin-top: 20px;
  }

  .calendar-info-container h5 {
    margin-top: 4px;
  }
}
